<footer>
  <div class="container-fluid footer" style="position: sticky; bottom:0; margin-top: 4px;">
    <div class="row">
      <div class="col-12">
        <p class="text-center small">Author: Jameson Cohen, Completed in 2021</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center small">This content is not to be redistributed without the direct consent of the website author.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
