<nav class="navbar navbar-expand-sm">
  <a href="/"><img src="/images/TrinCovidCalLogo.jpg" width="40" height="40" class="d-inline-block align-top navbar-brand" alt="" style = "padding: 2px;"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="../../rooms">View All Rooms</a>
    </li>
    <li>
      <a class="nav-link" href="../../user/userSelect">View User Details</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Room Signups
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="../../addSignup">Sign Up for a Room</a>
          <a class="dropdown-item" href="../../signup/userSelect">View Sign Up Details</a>
      </div>
  </li>
  </ul>
</nav>
</header>
<br>
