@background-yellow: #F8F7A7;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body{
  background-color: @gray-background;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
